<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1e37ce5d-7205-450e-ab3d-7eaf1e6e7e40/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/DeltaExercise</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://deltaexercise.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>deltaexercise.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DeltaExercise</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DeltaExercise</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DeltaDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:delta1dbserver1.database.windows.net,1433;Initial Catalog=Delta_db1;User ID=berkecankandemir@delta1dbserver1;Password=9485230Ab" Name="Data Source=tcp:delta1dbserver1.database.windows.net,1433;Initial Catalog=Delta_db1;User ID=berkecankandemir@delta1dbserver1;Password=9485230Ab;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Delta.Data.DeltaDbContext, Delta" MigrationConfiguration="Delta.Migrations.Configuration, Delta" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DeltaDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:delta1dbserver1.database.windows.net,1433;Initial Catalog=Delta_db1;User ID=berkecankandemir@delta1dbserver1;Password=9485230Ab;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>